page-full-screen-profile {
  .content-md, .content-ios {
    background-color: #000;
    direction: ltr;
  }

  .close {
    width: 21px;
    height: 21px;
    right: 23px;
    top: 20px;
    position: absolute;
    z-index: 9999;
  }

  .close-warp {
    width: 60px;
    height: 57px;
    right: 23px;
    top: 20px;
    position: absolute;
    z-index: 9999;
  }

  .video-chat-btn{
    background-image: url(../assets/img/video/v-chat.png);
    background-position:  center;
    background-repeat: no-repeat;
    width: 49px;
    height: 49px;
    background-size: 100%;
    margin-bottom: 5px;
    background-color: rgba(233, 232, 229, 0.5);
    border-radius: 50%;
  }

  .favorite-profile-btn.add {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 32px;
      height: 32px;
    }
  }


  .profile-buttons .favorite-profile-btn,
  .profile-buttons .like-profile-btn,
  .profile-buttons .message-profile-btn {
    background: rgba(233, 232, 229, 0.5);
    width: 49px;
    height: 49px;
    margin-bottom: 5px;
    border-radius: 50%;
  }

}
